.dt-info, .dt-search {
    display: none;
}

table#listar-solicitacoes {
    width: 100% important!;
}

table {
    table-layout: fixed;
    width: 100%;
}

th, td {
    word-wrap: break-word;
    white-space: normal;
}