<open>
 <li>
        <a href="#{id}" class="has-arrow" aria-expanded="false"><i class="{class}"></i> <span>{name}</span></a>
        <ul aria-expanded="true">
</open>

<itens>
    <li class=""><a href="{link}">{name}</a></li>
</itens>

<close>
        </ul>
    </li>
</close>
